@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization

<Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(Pages.NotFound)">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <p>Du har inte behörighet att visa den här sidan.</p>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
</Router>
